body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
}

/* LOGIN */

.landing{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(20px);
padding:40px;
border-radius:16px;
width:320px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,0.3);
}

.login-card input,
.login-card select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:none;
background:#020617;
color:white;
}

.login-card button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#3b82f6;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.login-card button:hover{
background:#2563eb;
transform:scale(1.05);
}

/* DASHBOARD */

.topbar{
background:#020617;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
padding:20px;
}

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
padding:20px;
border-radius:16px;
margin:10px 0;
box-shadow:0 0 20px rgba(0,0,0,0.2);
}

button{
padding:10px 15px;
border:none;
border-radius:8px;
background:#3b82f6;
color:white;
cursor:pointer;
}

textarea{
width:100%;
padding:10px;
border-radius:8px;
border:none;
background:#020617;
color:white;
margin-top:10px;
}

input,select{
padding:10px;
border-radius:8px;
border:none;
background:#020617;
color:white;
margin:5px 0;
}
